<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- Create a form for users to submit a name, a month, and a day -->
                <form action="/" class="birthday-form" id="new-birthday" method="post">
                    <div class="birthday-field">
                        <label for="birth_name">Name</label>
                        <input autocomplete="off" autofocus name="birth_name" placeholder="Name..." required type="text">
                    </div>
                    <div class="birthday-field">
                        <label for="birth_month">Month</label>
                        <input autocomplete="off" max="12" min="1" name="birth_month" placeholder="Birth month..." required type="number">
                    </div>
                    <div class="birthday-field">
                        <label for="birth_day">Day</label>
                        <input autocomplete="off" max="31" min="1" name="birth_day" placeholder="Birth day..." required type="number">
                    </div>
                    <input type="submit">
                </form>

            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                {% if birthdays|length == 0 %}
                    <em>There are no birthdays to display.</em>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Birthday</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through the database entries to display them in this table -->
                            {% for birthday in birthdays %}
                                <tr>
                                    <td class="birth-name">{{ birthday.name }}</td>
                                    <td class="birth-date">{{ birthday.month }}/{{ birthday.day }}</td>
                                    <td class="grid-actions">
                                        <button class="edit-btn" value="{{ birthday.id }}">
                                            Edit
                                        </button>
                                        <form action="/delete" class="hidden-form" method="post">
                                            <button class="delete-btn" name="id" value="{{ birthday.id }}">
                                                Remove
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            </div>
        </div>
        <dialog id="updateDlg">
            <form action="/update" method="post">
                <div class="birthday-field">
                    <label for="birth_name">Name</label>
                    <input autocomplete="off" autofocus id="editName" name="birth_name" placeholder="Name..." required type="text">
                </div>
                <div class="birthday-field">
                    <label for="birth_month">Month</label>
                    <input autocomplete="off" id="editMonth" max="12" min="1" name="birth_month" placeholder="Birth month..." required type="number">
                </div>
                <div class="birthday-field">
                    <label for="birth_day">Day</label>
                    <input autocomplete="off" id="editDay" max="31" min="1" name="birth_day" placeholder="Birth day..." required type="number">
                </div>
                <button id="cancelBtn" type="reset">Cancel</button>
                <button id="updateBtn" name="id" type="submit">Update</button>
            </form>
        </dialog>
        <script>
            (() => {
                document.addEventListener('click', async (e) => {

                    // Populate Edit dialogue
                    if (e.target.classList.contains('edit-btn')) {

                        // Store in var -- more reliable
                        const modUrl = '/modify';

                        // Dialogue fields
                        const bDayId = e.target.value;
                        const row = e.target.parentNode.parentNode;
                        const name = row.querySelector('.birth-name').innerHTML.toString();
                        const bDate = row.querySelector('.birth-date').innerHTML.toString();
                        const bMonth = bDate.split('/')[0];
                        const bDay = bDate.split('/')[1];

                        // Populate dialogue fields
                        document.querySelector('#updateBtn').value = bDayId;
                        document.querySelector('#editName').value = name;
                        document.querySelector('#editMonth').value = bMonth;
                        document.querySelector('#editDay').value = bDay;

                        // Dialogue behaviour
                        const editDlg = document.querySelector('#updateDlg');
                        editDlg.showModal();

                        // Close dialogue on Cancel
                        document
                            .querySelector('#cancelBtn')
                            .addEventListener('click', () => {
                                editDlg.close();
                            });
                        
                    }
                });
            })();
        </script>
    </body>
</html>
