/* Homepage styles */
/* Styles for all pages*/
h1 > a:hover {
    text-decoration: underline;
}

.banner-section {
    width: 90%;
    margin: 3rem auto;
}

.banner-section > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p, figcaption {
    margin: 1rem auto;
}

@media (min-width: 768px) {
    p {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    p {
        width: 50%;
    }
}

/* Shred page styles */

figure {
    margin: 1rem auto;
    width: 90%;
}

.shred-section {
    margin: 1rem auto;
    width: 90%;
    text-align: center;
}

.shred-section:first-of-type h3 {
    color: var(--bs-red);
}

.shred-section:nth-of-type(2) h3 {
    color: var(--bs-green);
}

.shred-section:last-of-type h3 {
    color: var(--bs-blue);
}

@media (min-width: 992px) {
    .banner-section {
        width: 80%;
    }

    figure {
        margin: 3rem auto;
        width: 80%;
    }

    .shred-section {
        margin: 3rem auto;
        width: 80%;
        text-align: start;
    }
}
