{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>

    {% if transactions %}
        <div class="mx-auto table-container table-responsive">
            <table class="table table-primary table-striped">
                <thead>
                    <tr>
                        <th class="text-start">Stock Symbol</th>
                        <th class="text-start">Transaction Type</th>
                        <th class="text-end">Transaction Price</th>
                        <th class="text-end">Shares</th>
                        <th class="text-start">Date</th>
                        <th class="text-start">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td class="text-start">{{ transaction['symbol'] }}</td>
                            <td class="text-start">{{ transaction['type'] }}</td>
                            <td class="text-end">{{ transaction['price'] | usd }}</td>
                            <td class="text-end">{{ transaction['shares'] }}</td>
                            <td class="text-start">{{ transaction['transaction_date'] }}</td>
                            <td class="text-start">{{ transaction['transaction_time'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p><em>You don't have any transaction history</em></p>
    {% endif %}
{% endblock %}
