{% extends "layout.html" %}

{% block title %}
    Wealth Summary
{% endblock %}

{% block main %}
    <h1>Wealth Summary</h1>

    <div class="mx-auto table-container table-responsive">
        <table class="table table-primary">
            <tr>
                <th class="text-start">Available Cash</th>
                <td class="text-end">{{ "${:,.2f}".format(user_wealth['cash']) }}</td>
            </tr>
            <tr>
                <th class="text-start">Total Wealth</th>
                <td class="text-end">{{ "${:,.2f}".format(user_wealth['total']) }}</td>
            </tr>
        </table>
    </div>

    {% if user_portfolio %}
        <div class="mx-auto table-container table-responsive">
                <table class="table table-secondary table-striped">
                    <thead>
                        <tr>
                            <th class="text-start">Company Name</th>
                            <th class="text-start">Stock Symbol</th>
                            <th class="text-end">Shares</th>
                            <th class="text-end">Current Price</th>
                            <th class="text-end">Total Value</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in user_portfolio %}
                            <tr>
                                <td class="text-start">{{ stock["company_name"] }}</td>
                                <td class="text-start">{{ stock["symbol"] }}</td>
                                <td class="text-end">{{ stock["shares"] }}</td>
                                <td class="text-end">{{ "${:,.2f}".format(stock["current_price"]) }}</td>
                                <td class="text-end">{{ "${:,.2f}".format(stock["total_value"]) }}</td>
                                <td class="text-centre">
                                    <button class="btn btn-secondary buy-btn" value="{{ stock['symbol'] }}">
                                        Buy
                                    </button>
                                </td>
                                <td class="text-centre">
                                    <button class="btn btn-secondary sell-btn" data-sell value="{{ stock['symbol'] }}">
                                        Sell
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <a class="btn btn-primary mt-3" href="/">Refresh Portfolio</a>
    {% else %}
        <p><em>You don't own any stocks yet.</em></p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="./static/quick-buy-sell.js"></script>
{% endblock %}
