{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" class="mx-auto w-25 text-start" method="post">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            <!-- <input autocomplete="off" autofocus class="form-control" name="username" required placeholder="Username" type="text"> -->
        </div>
        <div class="mb-3">
            <label class="form-label" for="username">Password</label>
            <input class="form-control" name="password" placeholder="Password" type="password">
            <!-- <input class="form-control" name="password" required placeholder="Password" type="password"> -->
        </div>
        <div class="mb-3">
            <label class="form-label" for="confirmation">Confirm Password</label>
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
            <!-- <input class="form-control" name="confirmation" required placeholder="Confirm password" type="password"> -->
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
