{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}

    <h1>Sell Stocks</h1>

    {% if stocks_owned %}
        <!-- Turning autocomplete off so clicking back button & having form auto-filled doesn't make stock count behave incorrectly -->
        <!-- TODO: Look into way to trigger auto-populate of stock count when back button pressed & form fields re-populated -->
        <form action="/sell" autocomplete="off" class="form mx-auto w-25 text-start" method="post">
            <div class="mb-3">
                <label class="form-label" for="symbol">Stock Symbol</label>
                <select autofocus class="form-select" id="stockSelector" name="symbol" required>
                    <!-- Hidden means can't be selected, blank val means won't be accepted if required -->
                    <option hidden selected value="">Select stock...</option>
                    <!-- TODO: Display company name to users instead? Have to add query if so... -->
                    {% for stock in stocks_owned %}
                        <option data-total-shares="{{ stock['total_shares'] }}" value="{{ stock['stock_symbol'] }}">{{ stock['stock_symbol'] }}</option>
                    {% endfor %}
                </select>    
            </div>
            <!-- Hide & display with JS -- only useful if JS enabled -->
            <div hidden id="sharesOwnedGroup" class="mb-3">
                <label class="form-label" for="shares">Shares Owned</label>
                <input class="form-control" id="sharesOwned" name="shares" readonly type="text" value=0>
            </div>
            <div class="mb-3">
                <label for="shares">Shares to Sell</label>
                <input class="form-control" min="1" name="shares" type="number" required>
            </div>
            <button class="btn btn-primary">Sell Shares</button>
        </form>
    {% else %}
        <p><em>
            You don't own any stocks to sell.
            <a href="/buy">Buy stocks.</a>
        </em></p>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="./static/sell-stocks.js"></script>
{% endblock %}
