{% extends "layout.html" %}

{% block title %}
    User Settings
{% endblock %}

{% block main %}

    <h1>User Settings</h1>

    <div class="mx-auto my-4 text-start w-50">
        <h2>Change Password</h2>
        <form action="/update-password" class="form" method="post">
            <div class="mb-3">
                <label class="form-label" for="existing">Existing Password</label>
                <input autocomplete="current-password" class="form-control" name="existing" placeholder="Existing password" required type="password">
            </div>
            <div class="mb-3">
                <label class="form-label" for="new">New Password</label>
                <input autocomplete="new-password" class="form-control" minlength="8" name="new" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z\d\s]).{8,}$" placeholder="New password" required title="Password must be 8+ chars & contain at least 1 capital, lower, number, & symbol." type="password">
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirm">Confirm New Password</label>
                <input autocomplete="new-password" class="form-control" name="confirm" placeholder="Confirm new password" required type="password">
            </div>
            <button class="btn btn-primary">Update Password</button>
        </form>
    </div>

{% endblock %}
