{% extends "layout.html" %}

{% block title %}
    User Settings
{% endblock %}

{% block main %}
    <h1>User Settings</h1>

    <div class="mx-auto my-4 text-start w-50">
        <h2>Change Password</h2>
        <form action="/update-password" class="form" method="post">
            <div class="mb-3">
                <label class="form-label">Existing Password</label>
                <input class="form-control" name="existing" required type="password">
            </div>
            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input class="form-control" name="new" required type="password">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm New Password</label>
                <input class="form-control" name="confirm" required type="password">
            </div>
            <button class="btn btn-primary">Update Password</button>
        </form>
    </div>
{% endblock %}
